body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
}